@defer (on viewport) {

<div class="card">
    <p-table [value]="records" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
        <ng-template #header>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Diagnosis</th>
                <th>Perawatan</th>
                <th>Pengobatan</th>
                <th>Tanggal</th>
            </tr>
        </ng-template>
        <ng-template #body let-record>
            <tr>
                <td>
                    @for(r of records; track $index; let i = $index) {
                    {{ i + 1 }}
                    }
                </td>
                <td>{{ patien.name }}</td>
                <td>{{ record.diagnosis }}</td>
                <td>{{ record.treatment }}</td>
                <td>{{ record.medications }}</td>
                <td> {{ record.lastVisitDate }} </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No Catatan Pasien found.</td>
            </tr>
        </ng-template>

    </p-table>
</div>

} @placeholder {
<p>loading...</p>
} @loading () {
<!-- after 100ms; minimum 1s -->
<p>loading...</p>
} @error {
<p>Failed to load component.</p>
}
