@defer (on viewport) {

<div class="card">
    <p-table [value]="patientFlows" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
        <ng-template #header>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Waktu Check In</th>
                <th>Waktu Konsultasi</th>
                <th>Pulang</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template #body let-patientFlow>
            <tr>
                <td>
                    @for(r of patientFlows; track $index; let i = $index) {
                    {{ i + 1 }}
                    }
                </td>
                <td>{{ patien.name }}</td>
                <td>{{ patientFlow.checkInTime }}</td>
                <td>{{ patientFlow.consultationTime }}</td>
                <td>{{ patientFlow.dischargeTime }}</td>
                <td> {{ patientFlow.currentStatus }} </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No Pasient Flow found.</td>
            </tr>
        </ng-template>

    </p-table>
</div>

} @placeholder {
<p>loading...</p>
} @loading () {
<!-- after 100ms; minimum 1s -->
<p>loading...</p>
} @error {
<p>Failed to load component.</p>
}
