<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">
            Patient Flow
        </p-tab>
        <p-tab value="1">
            Patient Records
        </p-tab>
        <p-tab value="2">
            Insurance Information
        </p-tab>
        <p-tab value="3">
            Emergency Contacts
        </p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">

            <app-patient-flow />

        </p-tabpanel>
        <p-tabpanel value="1">

            <app-patient-records />

        </p-tabpanel>
        <p-tabpanel value="2">

            <app-insurance-info />

        </p-tabpanel>

        <p-tabpanel value="3">

            <app-emergency-contacts />

        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
